.fade{
  animation: fadeIn 5s; 
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.tipo{
  font-family: 'Roboto', sans-serif;
}

.menuHamb{
  color:white;
  text-decoration: none;
  margin-bottom: 10px;
}

@media (max-width:700px) {
  .cursos{
    padding-top: 20%;
  }

}